select {
  margin: 1em;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1em;
}

th, td {
  border: 1px solid black;
}

.productCol {
  width: 150px;
}

.departmentCol {
  width: 100px;
}

.priceCol {
  width: 60px;
}

#Winter th {
  background: rgb(230, 240, 255);
}

#Autumn th {
  background: rgb(255, 231, 210);
}

#Spring th {
  background: rgb(232, 255, 239);
}

.Apparel,
.Furniture,
.Household {
  background:rgb(255, 226, 226);
}
